/*CSS style sheet for adventure dialog*/

.formGroup label{
    width:70px;
    text-align:right;
    display: inline-block;
}

.synopsisLabel{
    display:block;
}
#adv_slots{
    width:50px;
}
#adv_adventure{
    width:300px;
}
#adv_system{
    width:300px;
}
#adv_synopsis{
    min-height:200px;
    min-width:400px;
    

}
#adventureDialog .formGroup input{
    left-margin:10px;
}

.authWarning{
    color: red;
    height: 30px;
    font-size: 70%;
    top: 1px;
}