/*Player display CSS - CSS regarding player displays*/

.pd_nameLine li{
    margin: 1px;
}

.pd_nameLine p{
    display: inline-block;
    vertical-align: middle;
}

.pd_nameLine button{
    vertical-align: middle;
}