body {
    background:#1abc9c;
   /* background-color:rgb(153,200,60);*/
}




/*ACTION icons*/
.button{
    border: none;
    background:transparent;
}
.myButton{
    margin:2px;
}

.myButton:hover{
    color: green;
    animation-name:buzz_out;
    animation-duration:0.75s;
    animation-timing-function: linear;
    animation-iteration-count:1;
}

@keyframes buzz_out{
    10%{ transform: translateX(3px) rotate(2deg);}
    20%{ transform: translateX(-3px) rotate(-2deg);}
    30%{ transform: translateX(3px) rotate(2deg);}
    40%{ transform: translateX(-3px) rotate(-2deg);}
    50%{ transform: translateX(2px) rotate(1deg);}
    60%{ transform: translateX(-2px) rotate(-1deg);}
    70%{ transform: translateX(2px) rotate(1deg);}
    80%{ transform: translateX(-2px) rotate(-1deg);}
    90%{ transform: translateX(1px) rotate(0deg);}
    100%{ transform: translateX(-1px) rotate(0deg);}
}

/* HEADER */
div.header{
    margin-left:5%;
    margin-right:5%;
    text-align: center;
    width:auto;
    height:auto;
}
.logo{
    border-radius: 75px 150px 75px 150px;
    max-width:100%;
    max-heigth:100%;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    height:auto;
}


/* Title */
.title{
    color: white;
    font-size: 250%;
    text-align:center;
    text-shadow: 5px 5px 10px #000000;
}

div.info{
    text-align:center;
}

div#synopsisContainer{
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}





section{
    width:100%;
    margin: auto;
    padding:10px;
}


.formGroup label{
    text-align: right;
    float:left;
    
}
.formGroup input{}
    
.iconButton{
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;
}