@import url("css-form.css");
@import url("infoCard.css");
@import url("animation.css");
@import url("bootstrap.min.css");

body {
    padding-top:50px; /*navbar boddy padding*/
    padding-bottom: 40px;
    background-color: #95a65b !important;
    color: black !important;
}

.playerNumbers {
    margin: auto auto auto 5px !important;
}

.well > ul{
    margin-bottom:0px !important;
}

.redText {
    color:red !important;
}

footer{
    text-align:center;
}

.table-hover:hover{
    background-color: 608D4E;
}
.slideDown{
    animation-name:slide;
    animation-duration:0.5s;
    animation-direction:reverse;
}

.fadeAnimation.ng-hide-remove{
    animation-name:fadeAnimation;
    animation-duration:0.3s;
    animation-direction:reverse;
}

.fadeAnimation.ng-hide-add{
    animation-name:fadeAnimation;
    animation-duration:0.3s;
}

/*========== NavBar ========================*/
.navbar-inverse{
    background-color:3c5b45 !important;
}


.googleAuth > a{
    padding:0px;
}

/* =========================== carousel ========================= */

.carousel {margin-bottom:60px;}

.blackBackground{
    color:black;
    
}

.carousel-caption {z-index:10;}

/** forcing height for images to be the same size - images are 1200x480 **/
.carousel .item {
    width:100%;    
    object-position:center;
    background-color: #777;
}

.carousel-inner > .item> img {
    width:100%;
}

/* Title */
.title{
    font-size: 250%;
    text-align:center;
}

div.info{
    text-align:center;
}

div#synopsisContainer{
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

section{
    width:100%;
    margin: auto;
    padding:10px;
}
    
.iconButton{
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;
}

/* Info tab */
#info {
    margin-left:2%;
    margin-right:2%;
}

#info .content{
    margin-top:2%;
    margin-bottom:2%;
}

/*================Table============================== */
.tableContent td{
    margin-top:10px;
    margin-bottom:1%;
}


/*
Button to add adventures
Remove margin in order to center the alert.
*/
.table-addAdv > div{
    margin-bottom: 0px !important;
}

.table-formButtons{
    margin-top: 10px;
}
/* Buttons on table */

.actionButton{
    outline:0;
    border: none;
    background: transparent;
    margin:2px;
    max-width:25;
}

.actionButton:hover{
    animation-name:buzz_out;
    animation-duration:0.75s;
    animation-timing-function: linear;
    animation-iteration-count:1;
}

.redButton:hover{
    color:red;
}

.greenButton:hover{
    color:green;
}

/*well on show players*/
.alignIcon{
    display:inline-flex;
}

/* adventure submition form */
.adv_submit .input-group{
    margin-top: 1px;
}

/*Adventure submition*/
#adv_Synopsis{
    min-height:100px;
}