/*CSS file for the table*/

/*TABLE*/
div.table{
    overflow: hidden;
    max-width:1000px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}


.flatTable{
    width:100%;
    max-width:200%;
    border-radius: 25px 25px 25px 25px;
    border-collapse:collapse;
    font-weight:bold;
    color:#6b6b6b;
    background: #6b6b6b;
    overflow: hidden;
}

.flatTable tr{
    max-height:60px;
    height:60px;
    background:#f1f2f3;
    border-bottom:rgba(0,0,0,0.05) 1px solid;
}

.flatTable tr:nth-child(2n+3){
    height: 60px;
    background:#d4d1d5;
    border-bottom:rgba(0,0,0,0.05) 1px solid;
}

.flatTable .titleTr{
    height: 60px;
    color: #f6f3f7;
    background:#418a95;
    border:0px solid;
    
}

.flatTable .headingTr{
    height:30px;
    background: #63acb7;
    color: #f6f3f7;
    font-size: 12pt;
    border: 0px solid;
}

.flatTable td{
    text-align:center;
    box-sizing: border-box;
}

.flatTable .titleTd{
    white-space:nowrap;
    font-size:200%;
    align-text: left;
    width:5px;
}
.flatTable .td_time{
    max-width:10px;
    text-align:center;
}
.flatTable .td_system{
    word-wrap: break-word;
    text-overflow:ellipsis;
    max-width:200px;
    text-align: center;
}
.flatTable .td_adventure{
    word-wrap: break-word;
    text-overflow:ellipsis;
    max-width:200px;
    text-align:left;
}
.flatTable .td_slots{
    max-width:10px;
    text-align: center;
}
.flatTable .td_icons{
    max-width:45px;
}

.flatTable .plusTdButton{
    max-width:70px;
}

/* Buttons on table */

.actionButton{
    outline:0;
    border: none;
    background: transparent;
    margin:2px;
    max-width:25;
}

.actionButton:hover{
    animation-name:buzz_out;
    animation-duration:0.75s;
    animation-timing-function: linear;
    animation-iteration-count:1;
}

.redButton:hover{
    color:red;
}

.greenButton:hover{
    color:green;
}

